---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { contentfulClient } from '../../lib/contentful';
import type { BlogPost } from '../../lib/contentful';
import PostItem from '../../components/PostItem.astro';
import type { TypeBlogPostSkeleton } from '../../lib/content-types';

// Create pagination paths for posts
export async function getStaticPaths({ paginate }: any) {
  const entries = await contentfulClient.getEntries<TypeBlogPostSkeleton>({
    content_type: 'blogPost',
  });

  const posts = entries.items.map((item) => {
    const { title, date, description, slug } = item.fields;
    return {
      title,
      slug,
      description,
      date: date,
    };
  });

  return paginate(posts, { pageSize: 5 });
}

const pageTitle = 'hny-blogs | Posts';

//Paginated data passed to page prop
const { page } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <main class='mt-20'>
    <div class='px-6 sm:px-2 pb-6 max-w-xl mx-auto'>
      <div class='flex justify-between items-center mb-2'>
        <h1 class='font-bold text-3xl relative'>
          All Posts <div
            class='w-0 p-1 opacity-0 bg-primary absolute left-0 top-8 sm:top-9 animate-hoverBarAnim'
          >
          </div>
        </h1>
        <h2 class='font-bold'>Page {page.currentPage}</h2>
      </div>
      <p class='italic'>A list of all of my tangents</p>
    </div>
    <!-- TODO - Pagination Buttons -->
    <!-- {page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
    {page.url.next ? <a href={page.url.next}>Next</a> : null} -->
    <div class='bg-base-200'>
      <ul
        class='px-4 sm:px-1 divide-y divide-[hsl(var(--pc))] max-w-xl mx-auto py-4'
      >
        {
          page.data.map(({ title, slug, description, date }: BlogPost) => (
            <PostItem
              title={title}
              date={date}
              desc={description}
              slug={`/posts/${slug}`}
            />
          ))
        }
      </ul>
    </div>
  </main>
</BaseLayout>
