---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { contentfulClient } from '../../lib/contentful';
import type { BlogPost } from '../../lib/contentful';
import PostItem from '../../components/PostItem.astro';
import type { TypeBlogPostSkeleton } from '../../lib/content-types';

// Create pagination paths for posts
export async function getStaticPaths({ paginate }: any) {
  const entries = await contentfulClient.getEntries<TypeBlogPostSkeleton>({
    content_type: 'blogPost',
  });

  const posts = entries.items.map((item) => {
    const { title, date, description, slug } = item.fields;
    return {
      title,
      slug,
      description,
      date: new Date(date).toLocaleDateString(),
    };
  });

  return paginate(posts, { pageSize: 5 });
}

// Get total entries from CMS
const entries = await contentfulClient.getEntries<TypeBlogPostSkeleton>({
  content_type: 'blogPost',
});
const count = entries.total;

const pageTitle = 'hny-blogs | Posts';

//Paginated data passed to page prop
const { page } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <main class='mt-20'>
    <div class='px-6 sm:px-2 pb-6 max-w-xl mx-auto'>
      <div class='flex justify-between items-center mb-2'>
        <h1 class='font-bold text-3xl relative'>
          All Posts <div
            class='w-0 p-1 opacity-0 bg-primary absolute left-0 top-8 sm:top-9 animate-hoverBarAnim'
          >
          </div>
        </h1>
      </div>
      <p class='italic'>
        A list of all of my <span
          class='font-black text-4xl text-[hsl(var(--p))] px-1'
          id='post-count'>{count}</span
        > tangents
      </p>
    </div>
    <div class='bg-base-200 mb-2'>
      <ul
        class='px-4 sm:px-1 divide-y divide-[hsl(var(--pc))] max-w-xl mx-auto py-4'
      >
        {
          page.data.map(({ title, slug, description, date }: BlogPost) => (
            <PostItem
              title={title}
              date={date}
              desc={description}
              slug={`/posts/${slug}`}
            />
          ))
        }
      </ul>
    </div>
    <div class='join flex justify-center max-w-xl mx-auto mb-12'>
      {
        page.url.prev ? (
          <a href={page.url.prev}>
            <button class='join-item btn bg-accent hover:bg-accent-focus text-xl text-[hsl(var(--ac))]'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='32'
                height='32'
                viewBox='0 0 512 512'
              >
                <path
                  d='M216.4 163.7c5.1 5 5.1 13.3.1 18.4L155.8 243h231.3c7.1 0 12.9 5.8 12.9 13s-5.8 13-12.9 13H155.8l60.8 60.9c5 5.1 4.9 13.3-.1 18.4-5.1 5-13.2 5-18.3-.1l-82.4-83c-1.1-1.2-2-2.5-2.7-4.1-.7-1.6-1-3.3-1-5 0-3.4 1.3-6.6 3.7-9.1l82.4-83c4.9-5.2 13.1-5.3 18.2-.3z'
                  fill='currentColor'
                />
              </svg>
            </button>
          </a>
        ) : (
          <a href={page.url.prev}>
            <button class='join-item btn btn-disabled bg-accent hover:bg-accent-focus text-xl text-[hsl(var(--ac))]'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='32'
                height='32'
                viewBox='0 0 512 512'
              >
                <path
                  d='M216.4 163.7c5.1 5 5.1 13.3.1 18.4L155.8 243h231.3c7.1 0 12.9 5.8 12.9 13s-5.8 13-12.9 13H155.8l60.8 60.9c5 5.1 4.9 13.3-.1 18.4-5.1 5-13.2 5-18.3-.1l-82.4-83c-1.1-1.2-2-2.5-2.7-4.1-.7-1.6-1-3.3-1-5 0-3.4 1.3-6.6 3.7-9.1l82.4-83c4.9-5.2 13.1-5.3 18.2-.3z'
                  fill='currentColor'
                />
              </svg>
            </button>
          </a>
        )
      }
      <div class='btn join-item pointer-events-none bg-accent text-xl text-[hsl(var(--ac))]'>
        Page {page.currentPage}
      </div>
      {
        page.url.next ? (
          <a href={page.url.next}>
            <button class='join-item btn bg-accent hover:bg-accent-focus text-xl text-[hsl(var(--ac))]'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='32'
                height='32'
                viewBox='0 0 512 512'
              >
                <path
                  d='M295.6 163.7c-5.1 5-5.1 13.3-.1 18.4l60.8 60.9H124.9c-7.1 0-12.9 5.8-12.9 13s5.8 13 12.9 13h231.3l-60.8 60.9c-5 5.1-4.9 13.3.1 18.4 5.1 5 13.2 5 18.3-.1l82.4-83c1.1-1.2 2-2.5 2.7-4.1.7-1.6 1-3.3 1-5 0-3.4-1.3-6.6-3.7-9.1l-82.4-83c-4.9-5.2-13.1-5.3-18.2-.3z'
                  fill='currentColor'
                />
              </svg>
            </button>
          </a>
        ) : (
          <a href={page.url.next}>
            <button class='join-item btn btn-disabled bg-accent hover:bg-accent-focus text-xl text-[hsl(var(--ac))]'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='32'
                height='32'
                viewBox='0 0 512 512'
              >
                <path
                  d='M295.6 163.7c-5.1 5-5.1 13.3-.1 18.4l60.8 60.9H124.9c-7.1 0-12.9 5.8-12.9 13s5.8 13 12.9 13h231.3l-60.8 60.9c-5 5.1-4.9 13.3.1 18.4 5.1 5 13.2 5 18.3-.1l82.4-83c1.1-1.2 2-2.5 2.7-4.1.7-1.6 1-3.3 1-5 0-3.4-1.3-6.6-3.7-9.1l-82.4-83c-4.9-5.2-13.1-5.3-18.2-.3z'
                  fill='currentColor'
                />
              </svg>
            </button>
          </a>
        )
      }
    </div>
  </main>
</BaseLayout>

<script>
  let counter = document.getElementById('post-count');
  const postCount = Number(counter?.innerText);

  function incrementCount(
    id: string,
    currentNum: number,
    target: number,
    duration: number
  ) {
    let counter = document.getElementById(id);
    let stepTime = Math.abs(Math.floor(duration / target));
    if (currentNum < target && counter) {
      currentNum++;
      counter.innerText = currentNum.toString();
      setTimeout(
        () => incrementCount(id, currentNum, target, duration),
        stepTime
      );
    }
  }

  document.addEventListener('swup:contentReplaced', () => {
    incrementCount('post-count', 0, postCount, 1000);
  });
</script>
