---
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import { contentfulClient } from '../../lib/contentful';
import BaseLayout from '../../layouts/BaseLayout.astro';
import type { BlogPost } from '../../lib/contentful';
import { BLOCKS, INLINES } from '@contentful/rich-text-types';

export async function getStaticPaths() {
  // REFERENCE: https://www.contentful.com/blog/rendering-linked-assets-entries-in-contentful/
  const renderOptions = {
    renderNode: {
      [BLOCKS.EMBEDDED_ASSET]: (node: any) =>
        `<img 
        class='my-4'
        src=https:${node.data.target.fields.file.url} 
        height=${node.data.target.fields.file.details.image.height} 
        width=${node.data.target.fields.file.details.image.width} 
        alt=${node.data.target.fields.description} />`,
      [BLOCKS.HEADING_1]: (node: any) =>
        `<h1 class='font-bold text-2xl'>
          ${node.content[0].value}
        </h1>`,
      [BLOCKS.HEADING_2]: (node: any) =>
        `<h2 class='font-bold text-xl'>
            ${node.content[0].value}
        </h2>`,
      [INLINES.HYPERLINK]: (node: any) =>
        `<a 
          href=${node.content[0].value}
          class='underline font-extrabold hover:text-[hsl(var(--a))] active:hover:text-[hsl(var(--af))] transition'
        >
          ${node.content[0].value}</a>`,
      [BLOCKS.QUOTE]: (node: any) =>
        `<blockquote class='pl-2 my-4 border-l-4 border-[hsl(var(--p))] italic'>
          ${node.content[0].content[0].value}
        </blockquote>`,
      [BLOCKS.OL_LIST]: (node: any) => {
        return `<ol class='my-6'>${node.content
          .map((item: any) => {
            const data = item.content[0].content[1].data;
            const value = item.content[0].content[1].content[0].value;

            return Object.keys(data).length !== 0
              ? `<li class='list-decimal ml-4 my-2 text-sm'>
                <a href=${data.uri} class='underline font-extrabold hover:text-[hsl(var(--a))] active:hover:text-[hsl(var(--af))] transition'>
                  ${value}
                </a>
              </li>`
              : `<li class='list-decimal ml-4 my-2 text-sm'>
                ${value}
              </li>`;
          })
          .join('')}</ol>`;
      },
      [BLOCKS.UL_LIST]: (node: any) => {
        return `<ul class='my-6'>${node.content
          .map((item: any) => {
            return `<li class='list-disc ml-4 my-4 text-sm'>${item.content[0].content[0].value}</li>`;
          })
          .join('')}</ul>`;
      },
    },
  };

  // @ts-ignore
  const entries = await contentfulClient.getEntries<BlogPost>({
    content_type: 'blogPost',
  });

  // console.log(JSON.stringify(entries.items));

  const pages = entries.items.map((item) => ({
    // @ts-ignore
    params: { slug: item.fields.slug },
    props: {
      // @ts-ignore
      title: item.fields.title,
      // @ts-ignore
      content: documentToHtmlString(item.fields.content, renderOptions),
      // @ts-ignore
      date: new Date(item.fields.date).toLocaleDateString(),
    },
  }));

  return pages;
}

const { content, title, date } = Astro.props;
---

<BaseLayout pageTitle={title}>
  <div class='my-20 max-w-xl mx-auto px-6 sm:px-2'>
    <div class='mb-10 relative'>
      <h1 class='font-bold text-3xl sm:text-4xl w-fit pb-2'>
        {title}
      </h1>
      <time class='font-semibold'>{date}</time>
      <div
        class='w-0 p-1 opacity-0 bg-primary absolute left-0 -bottom-4 animate-hoverBarAnim'
      >
      </div>
    </div>
    <article class='' set:html={content} />
  </div>
</BaseLayout>
