---
import { contentfulClient } from '../lib/contentful';
import type { BlogPost } from '../lib/contentful';
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import PostItem from '../components/PostItem.astro';

// @ts-ignore
const entries = await contentfulClient.getEntries<BlogPost>({
  content_type: 'blogPost',
});

const posts = entries.items.map((item) => {
  // @ts-ignore
  const { title, date, description, slug } = item.fields;
  return {
    title,
    slug,
    description,
    date: new Date(date).toLocaleDateString(),
  };
});

// Sort posts by date of publication
posts.sort((a, b) => Date.parse(b.date) - Date.parse(a.date));

// Filter for the latest 3 posts
const latestPosts = posts.slice(0, 3);
const pageTitle = 'hny-blogs';
---

<BaseLayout pageTitle={pageTitle}>
  <Hero />
  <div class='py-10 mt-5 bg-base-200 mb-10'>
    <div class='max-w-2xl mx-auto'>
      <h1 data-test='post-title' class='text-3xl font-bold mb-4 text-center'>
        Latest Posts
      </h1>
      <ul data-test="home-post-list" class='px-4 divide-y divide-[hsl(var(--pc))]'>
        {
          latestPosts.map((post) => (
            <PostItem
              title={post.title}
              date={post.date}
              desc={post.description}
              slug={`/posts/${post.slug}`}
            />
          ))
        }
      </ul>
    </div>
  </div>
</BaseLayout>
