---
import { contentfulClient } from '../lib/contentful';
import type { BlogPost } from '../lib/contentful';
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import PostItem from '../components/PostItem.astro';

// @ts-ignore
const entries = await contentfulClient.getEntries<BlogPost>({
  content_type: 'blogPost',
});

const posts = entries.items.map((item) => {
  // @ts-ignore
  const { title, date, description, slug } = item.fields;
  return {
    title,
    slug,
    description,
    date: new Date(date).toLocaleDateString(),
  };
});

// Filter for the latest 3 posts
const latestPosts = posts.slice(0, 3); 
const pageTitle = 'hny-blogs';
---

<BaseLayout pageTitle={pageTitle}>
  <Hero />
  <div class="my-4">
    <h1 class='text-3xl font-bold my-2 text-center'>Latest Posts</h1>
    <ul class='px-4 py-2 divide-y divide-[hsl(var(--pc))] bg-base-200'>
      {
        latestPosts.map((post) => (
          <PostItem
            title={post.title}
            date={post.date}
            desc={post.description}
            slug={`/posts/${post.slug}`}
          />
        ))
      }
    </ul>
  </div>
</BaseLayout>
